.kontak{
    background-color: #070d0d;
    color: #f9f7f5;
    display: flex;

    .left{
        background-color: white;
        flex: 0.5;
        overflow: hidden;

        img{
            width: auto;
            height: 100%;
        }
    }

    .right{
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 0.5;

        h1{
            font-weight: 500;
            margin-bottom: 30px;
        }

        h3{
            font-weight: 300;
        }
    }
}